<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render @order.line_items %>
<div class='new_link'>
  <%= link_to 'Add Line Item', new_order_line_item_path(@order), id: 'new_line_items', remote: true %>
</div>
<%= render :partial => 'form' %>
