<%- model_class = Order -%>
<div class="page-header">
  <div class="col-md-offset-5 col-md-2">
    <h1>Edit Order</h1>
  </div>
</div>
<div class='line_items' id = 'order_line_items'>
<%= render @line_items %>
</div>
<div id='new_link'>
  <%= link_to 'Add Line Item', new_order_line_item_path(@order), id: 'new_link', remote: true %>
</div>
<%= render :partial => 'form' %>

